.c3{
  flex-wrap: wrap;
  justify-content: center;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}



.c3 .full {
  background-color: #cafff4;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.c3 .overHalf {
  background-color: #feffb7;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.c3 .empty {
  background-color: #ffa7a7;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}




.c1 {
  flex-direction: column;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.c1 div {
  display: flex;
  background-color: #ededed;
  border-radius: 12px;
  width: 300px;
  height: 40px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 3px;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.c1 img {
  display: flex;
  border-radius: 12px;
  margin: 3px;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.c1 div p{
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  align-content: start;
  margin: 10px;
}

.button1 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.c2 {
  flex-direction: column;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.higherBox {
    background-color: rgb(53, 53, 53);
    width: auto;
    height: 50px;
    align-content: center;
    outline-style: solid;
    outline-width: 1px;
}

.higherBox .rightBox{
    display: flex; 
    width: auto;
    height: 40px;
    margin-right: 20px;
    float: right;
    align-content: center;
}

.higherBox .leftBox{
    display: flex; 
    width: auto;
    height: 40px;
    margin-left: 20px;
    float: left;
    align-content: center;
}


.imageBox {
    width: auto;
    margin: 2px;
    width: 35px;
    height: 35px;
    align-content: center;
    margin-right: 50px;
}

a:link {
    text-decoration: none;
  }

.glow-on-hover {
    width: auto;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-right: 10px;
    align-content: center;
}

.glow-on-hover p {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    margin-right: 10px;
    align-content: center;
    height: 40px;
    border-radius: 10px;
  }


.btn-one p {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.521);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }


  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  background-color:#dae0ff;
  color: #080024;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr:hover {
  background: #014055;
}



h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}



h1 {
  font-size:30px;text-align:center; line-height:1.5em; padding-bottom:30px; font-family:"Playfair Display", serif; text-transform:uppercase;letter-spacing: 2px; color:#111;
}


h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left:50%; margin-left:-30%;
  height: 1px;
  content: "";
  background-color: #777; z-index: 4;
}
h1:after {
  position:absolute;
  width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
  content: '\00a7'; font-size:30px; line-height:40px; color:#c50000;
  font-weight:400; z-index: 5;
  display:block;
  background-color:#ffffff;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* CSS */
.button-24 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-24:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-24:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-24:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-24:focus {
  outline: 1px transparent;
}

.button-24:before {
  display: none;
}

.button-24:-webkit-details-marker {
  display: none;
}