.c3{
  flex-wrap: wrap;
  justify-content: center;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}


.c3 .full {
  background-color: #cafff4;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.c3 .overHalf {
  background-color: #feffb7;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.c3 .empty {
  background-color: #ffa7a7;
  border-radius: 12px;
  margin: 5px;
  width: 500px;
  height: max-content 500px;
  overflow-y: auto;
  overflow-x: auto;
}




.c1 {
  flex-direction: column;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.c1 div {
  display: flex;
  background-color: #ededed;
  border-radius: 12px;
  width: 300px;
  height: 40px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 3px;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.c1 img {
  display: flex;
  border-radius: 12px;
  margin: 3px;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.c1 div p{
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  align-content: start;
  margin: 10px;
}

.button1 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.c2 {
  flex-direction: column;
  display: flex; 
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.higherBox {
    background-color: rgb(53, 53, 53);
    width: auto;
    height: 50px;
    align-content: center;
    outline-style: solid;
    outline-width: 1px;
}

.higherBox .rightBox{
    display: flex; 
    width: auto;
    height: 40px;
    margin-right: 20px;
    float: right;
    align-content: center;
}

.higherBox .leftBox{
    display: flex; 
    width: auto;
    height: 40px;
    margin-left: 20px;
    float: left;
    align-content: center;
}


.imageBox {
    width: auto;
    margin: 2px;
    width: 35px;
    height: 35px;
    align-content: center;
    margin-right: 50px;
}

a:link {
    text-decoration: none;
  }

.glow-on-hover {
    width: auto;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-right: 10px;
    align-content: center;
}

.glow-on-hover p {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    margin-right: 10px;
    align-content: center;
    height: 40px;
    border-radius: 10px;
  }


.btn-one p {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.521);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }