<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='CSS/main.css') }}" >
    {% block head %} {% endblock %}
</head>
<body>
    <div class="higherBox">
        <div class = "leftBox">
            <div class="imageBox">
                <img src="/static/Icon_1.png" alt="app icon" width="40" height="40">
            </div>
            <a href="/fingerPrintPage1">
                <div class="btn-one">
                    <p>Finger</p>
                </div>
            </a>
            <a href="/RFIDPage">
                <div class="btn-one">
                    <p>RFID</p>
                </div>
            </a>
            <a href="/pageStudent">
                <div class="btn-one">
                    <p>Student</p>
                </div>
            </a>
            <a href="/historyPage">
                <div class="btn-one">
                    <p>History</p>
                </div>
            </a>
            
        </div>
        {% if SH.isLogOn()%}
        <div class = "rightBox">
            <a href = "/logout">
                <div class="glow-on-hover">
                    <p>Log out</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class = "rightBox">
            <a href = "/login1">
                <div class="glow-on-hover">
                    <p>Login</p>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
    {% block body %} {% endblock %}
</body>
</html>