{% extends 'base.html' %}

{% block body %} 

<h1>STUDENT CREATER PAGE</h1>
<form method="POST" action="">
    {{form.hidden_tag()}}
    {{form.id}}
    {{form.name}}
    {{form.teacher}}
    {{form.submit}}
</form>
<ul class="error">
{% if form.id.errors %}
    {% for error in form.id.errors %}
        <li>{{ error }}</li>
    {% endfor %}
{% endif %}
{% if form.name.errors %}
    {% for error in form.name.errors %}
        <li>{{ error }}</li>
    {% endfor %}
{% endif %}
{% if form.teacher.errors %}
    {% for error in form.teacher.errors %}
        <li>{{ error }}</li>
    {% endfor %}
{% endif %}
</ul>
{% endblock %}