{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body %} 
<h1> LIST OF FINGERPRINT </h1>
<div class = "content"> 
    <table>
        <tr>
            <th>ID</th>
            <th>Fingerprint Template</th>
            <th>RFID</th>
            {% if SH.isLogOn() %}
            <th>Option</th>
            {% endif %}
        </tr>
        {% for FingerPrint in FingerPrints %}
            <tr>
                <td>{{ FingerPrint.fingerId }}</td>
                <td>{{ FingerPrint.FingerPrintTemplate }}</td>
                {% if FingerPrint.rfid.id %}
                    <td>
                        {{ FingerPrint.rfid.id }}
                        <br>
                    </td>
                {% else %}
                    <td>no rfid linked</td>
                {% endif %}
                {% if SH.isLogOn() %}
                <td>
                    <a href = "/deleteThing/finger/{{FingerPrint.fingerId}}">
                    <button class="button-24" role="button">Delete</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
</div>
<br>
{% endblock %}