{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body %} 
<h1>ROLL CALL history</h1>
<div class = "content"> 
    <table>
        <tr>
            <th>STT</th>
            <th>Time</th>
            <th>MSSV</th>
            <th>Name</th>
            
        </tr>
        {% for h in historyList %}
            <tr>
                <td>{{ h.id }}</td>
                <td>{{ h.date_create}}</td>
                <td>{{ h.studentdata }}</td>
                <td>{{ h.studentData.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
</div>
<br>
{% endblock %}