{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body %} 
<h1> Trang chủ </h1>
<h5> Theo lý thuyết ở đây nên có vài bản tin thú vị hay cái gì đó tương tự 
    nhưng hiện tại chúng tôi ko có j để show cả.
    <br>
    dưới đây là tất cả những j chúng tôi có, bạn có thể ghé thăm nếu thích:
</h5>
<a href = '/studentPage'>danh sách toàn bộ sinh viên bao gồm cả việc quản lý thông tin sinh viên</a>
<br>
<a href = '/register'>tạo một tài khoản mới</a>
<br>
<a href = '/NO PERMISSON'>nếu bạn muốn biết bị cấm sẽ như thế nào</a>
<br>
{% endblock %}