{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body %} 
<h1> LIST OF RFID </h1>
<div class = "content"> 
    <table>
        <tr>
            <th>RFID</th>
            <th>fingerprint Id</th>
            <th>Student Name</th>
            {% if SH.isLogOn() %}
            <th>Option</th>
            {% endif %}
        </tr>
        {% for RFID in RFIDs %}
            <tr>
                <td>{{ RFID.id }}</td>
                <td>
                    {% for f in RFID.fingerId %}
                        {{ f.fingerId }},
                    {% endfor %}
                </td>
                {% if RFID.student_data %}
                    <td>
                        {{ RFID.student_data }}
                        <br>
                    </td>
                {% else %}
                    <td>no student linked</td>
                {% endif %}
                {% if SH.isLogOn() %}
                <td>
                    <a href = "/deleteThing/RFID/{{RFID.id}}">
                        <button class="button-24" role="button">Delete</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
</div>
<br>
{% endblock %}