{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body %} 
<h1>list of teachers</h1>
<div class = "content"> 
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            {% if SH.isLogOn() %}
            <th>Option</th>
            {% endif %}
        </tr>
        {% for Teacher in teachers %}
            <tr>
                <td>{{ Teacher.id }}</td>
                <td>{{ Teacher.name }}</td>
                {% if Teacher.className %}
                    <td>
                        {% for cl in Teacher.className %}
                            {{ cl.name }}
                            <br>
                        {% endfor %}
                    </td>
                {% else %}
                    <td>no class linked</td>
                {% endif %}
                {% if SH.isLogOn() %}
                <td>
                    <a href = "/deleteThing/teacher/{{Teacher.id}}">
                        <button class="button-24" role="button">Delete</button>
                    </a>
                    <a href = "/updateThing/teacher/{{Teacher.id}}">
                        <button class="button-24" role="button">Edit</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
</div>
<br>
{% if SH.isLogOn() %}
<a href = '/CreateNewTeacher'>
    <button class="button-55" role="button">Create teacher</button>
</a>
{% endif %}
{% endblock %}